#!/usr/bin/env bash

# Export Public & Private Variables
export CI_PROJECT_DIR="${PWD}"
export CI_PROJECT_NAME="${PWD##*/}"
[[ -f "${CI_PROJECT_DIR}/.user.env" ]] && source "${CI_PROJECT_DIR}/.user.env"

# Setup Project Dir

[[ -d "${HOME}/.venv.d/${CI_PROJECT_NAME}" ]] || {
  [[ -d "${HOME}/.venv.d" ]] || {
    echo "MISSING: ${HOME}/.venv.d" >&2
    return 1
  }
  install -dm0755 "${HOME}/.venv.d/${CI_PROJECT_NAME}"
}
[[ -h "${CI_PROJECT_DIR}/.venv" ]] || {
  ln -s "${HOME}/.venv.d/${CI_PROJECT_NAME}" "${CI_PROJECT_DIR}/.venv"
}

[[ -d "${HOME}/.cache/${CI_PROJECT_NAME}" ]] || {
  [[ -d "${HOME}/.cache" ]] || {
    echo "MISSING: ${HOME}/.cache" >&2
    return 1
  }
  install -dm0755 "${HOME}/.cache/${CI_PROJECT_NAME}"
}
[[ -h "${CI_PROJECT_DIR}/.cache" ]] || {
  ln -s "${HOME}/.cache/${CI_PROJECT_NAME}" "${CI_PROJECT_DIR}/.cache"
}

[[ -f "${CI_PROJECT_DIR}/.venv/bin/activate" ]] || {
  pyenv local || {
    echo "Local python version not set: run 'pyenv local <version>'" >&2
    return 1
  }
  pyenv exec python3 -m venv --clear --upgrade-deps --prompt "Dev" "${HOME}/.venv.d/${CI_PROJECT_NAME}"
}

